@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body{
    background-color: rgb(202, 202, 202);
    min-height: 100%;
}

:root {
    --fonte1:'Passion One', cursive;
    --fonte2:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-color: black;
    min-height: 8em;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-size: 10vh;
    font-weight: bold;
    padding: 1em 0em 0em 0em;
}

header p {
    padding-bottom: 3em;
    font-family:var(--fonte2);
    font-size: 3vh;
    font-weight: light;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    line-height: 1.1em;
    font-size: 2.5em;
    padding-left: 1em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
}

section.imagem p {
    text-shadow: 2px 1px 1px black;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 5px;
    margin: 1em 0em;
}

section#imagem01 {
    background: white url(/imagens/background001.jpg) no-repeat right center /cover fixed;
}

section#imagem02 {
    background: white url(/imagens/background002.jpg) no-repeat right bottom /cover fixed;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: .2em;
}